<section id="about" class="about-mf sect-pt4 bg-black">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6 margin-auto">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box">
                    <app-card-content [content]="aboutMe"></app-card-content>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-auto">
                <div class="skill-mf">
                  <app-card-content [content]="techStack"></app-card-content>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
